<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MU Hà Nội - Máy chủ mới KunDun</title>
    <meta name="keywords" content="mu ha noi,mu hanoi,mu hoan my,mu-hanoi.net,muhanoi,trang chu mu ha noi,muhanoi-moi.net,download mu ha noi,mu ha noi sever quyen nang,mu ex701,mu ex 702, mu ex 700 plus,hanoi net,mu hn" />
    <meta name="description" content="Tượng đài MU Online Số 1 Việt Nam. Mu Hà Nội phát triển từ năm 2009 với tên miền mu-hanoi.net đã xây dựng một cộng đồng đông đảo các game thủ và bạn bè!">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta property="og:url" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="MU Hà Nội Máy chủ mới - KunDun - Ra mắt tháng 12/2019" />
    <meta property="og:description" content="Tượng đài MU Online Số 1 Việt Nam" />
    <meta property="og:image" content="" />
    <meta name="viewport" content="width=1300, initial-scale=1">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style-landing.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
    {% block content %}{% endblock %}
</body>
<script src="assets/js/jquery-3.1.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!--<script src="assets/js/kkcountdown.js"></script>-->
<script src="assets/js/script-landing.js"></script>
</html>