<section class="page-1">
    <h1 class="rs"><a href="#" class="logo"></a></h1>
    <a href="#" class="btn-play"></a>
    <div class="video">
        <video width="1920" height="1080" playsinline="" autoplay="" muted="" loop="">
            <source src="assets/images/video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="links">
        <a href="" class="home toolTip"><span class="tip">Trang chủ</span></a>
        <a href="" class="download toolTip"><span class="tip">Tải game</span></a>
        <a href="" class="forum toolTip"><span class="tip">Diễn đàn</span></a>
        <a href="" class="register toolTip"><span class="tip">Đăng ký</span></a>
    </div>
    <div class="muhn">
        <a href="#" class="logo-1"></a>

        <div class="info">
            <p class="t1 rs">MU HÀ NỘI 2009</p>
            <p class="t2 rs">Phá vỡ giới hạn MU Online</p>
            <div class="btn">
                <a href="#" class="fb toolTip"><span class="tip">Fanpage</span></a>
                <a href="#" class="gr toolTip"><span class="tip">Group</span></a>
                <a href="javascript:;" class="sound on toolTip" id="sound">
                    <i></i><span class="tip">Nhạc nền</span>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="events">
    <div class="event-cont">
        <img src="assets/images/img-1.jpg" alt="Sự Kiện 1">
        <img src="assets/images/img-2.jpg" alt="Sự Kiện 2">
        <img src="assets/images/img-3.jpg" alt="Sự Kiện 3">
        <img src="assets/images/img-4.jpg" alt="Sự Kiện 4">
        <img src="assets/images/img-5.jpg" alt="Sự Kiện 5">
        <img src="assets/images/img-6.jpg" alt="Sự Kiện 6">
        <img src="assets/images/img-7.jpg" alt="Sự Kiện 7">
        <img src="assets/images/img-8.jpg" alt="Sự Kiện 8">
    </div>
</div>
<audio autoplay playsinline id="music">
    <source src="assets/images/video.mp3" type="audio/mpeg">
</audio>
