@font-face {
  font-family: "UTM Swiss 721 Black COndensed";
  src: url("../font/UTMSwiss721BlackCondensed.ttf") format("truetype");
  font-display: swap;
}
.fixCen{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.rs{
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  margin: 0;
  font-size: 14px;
  background: #000;
  overflow-x: hidden;
}
img {
  margin: 0 auto;
  display: block;
}
.page-1{
  height: 1080px;
  overflow: hidden;
  width: 100%;
  position: relative;
  .logo{
    display: block;
    background: url("../images/logo.png") 0/100% no-repeat;
    width: 179px;
    height: 182px;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -90px;
    z-index: 2;
  }
  .btn-play{
    display: block;
    background: url("../images/icon-play.png") 0/100% no-repeat;
    width: 100px;
    height: 110px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 430px;
    z-index: 2;
    animation: vd 2s infinite ease;
  }
  .video {
    width: 100%;
    position: relative;
    video {
      width: 1920px;
      position: absolute;
      top: 0;
      left: calc(50% - 960px);
    }
  }
  .links{
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 86px;
    z-index: 20;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 40px;
    background: linear-gradient(to right, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    a{
      display: block;
      width: 62px;
      height: 54px;
      margin: 0 10px;
      transition: all .3s ease;
      &:hover{
        transform: scale(1.1);
      }
      &.home{
        background: url("../images/icon-1.png") 0/100% no-repeat;
      }
      &.download{
        background: url("../images/icon-2.png") 0/100% no-repeat;
      }
      &.forum{
        background: url("../images/icon-3.png") 0/100% no-repeat;
      }
      &.register{
        background: url("../images/icon-4.png") 0/100% no-repeat;
      }
    }
  }
  .muhn{
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 86px;
    z-index: 20;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 40px;
    background: linear-gradient(to right, #0b0a0d 0%, rgba(11, 10, 13, 0.51) 83%, rgba(11, 10, 13, 0.5) 84%, rgba(11, 10, 13, 0) 100%);
    .logo-1 {
      width: 73px;
      height: 74px;
      background: url("../images/logo.png") no-repeat 0/100%;
      display: flex;
      flex-wrap: wrap;
    }
    .info{
      flex: 1;
      padding-left: 10px;
      position: relative;
      .t1{
        color: #fff;
        font-size: 16px;
        padding-bottom: 3px;
        padding-top: 13px;
      }
      .t2{
        color: #fff;
        font-size: 11px;
      }
      .tooltip{
        position: relative;
      }
      .btn {
        position: absolute;
        top: 5px;
        left: 140px;
        display: flex;
        a{
          width: 24px;
          height: 24px;
          border-radius: 12px;
          background: #322626;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 5px;
          position: relative;
          &:before{
            content: '';
            display: block;
          }
          &.fb{
            &:before{
              width: 6px;
              height: 14px;
              background: url("../images/icon-fb.png") no-repeat;
            }
          }
          &.gr{
            &:before{
              width: 16px;
              height: 13px;
              background: url("../images/icon-group.png") no-repeat;
            }
          }
          &.sound{
            background: none;
            border-radius: 0;
            &:before{

            }
          }
        }
      }
    }
  }
}
.events {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  .event-cont{
    width: 1920px;
    position: relative;
    left: calc(50% - 960px);
  }
}
.toolTip {
  position: relative;
  .tip {
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #212121;
    padding: 5px;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
  }
  &:hover{
    .tip{
      opacity: 1;
      visibility: visible;
    }
  }
}
.sound.on:before, .sound.on:after, .sound.on i:before, .sound.on i:after {
  animation: sound_wave .5s infinite ease;
}
.sound:before, .sound:after, .sound i:before, .sound i:after {
  content: " ";
  width: 3px;
  height: 5px;
  background: #fddf8b;
  position: absolute;
  bottom: 2px;
  left: 3px;
}
.sound i:before {
  left: 13px;
}
.sound i:after {
  left: 18px;
}
.sound.on i:before {
  animation-delay: 300ms;
}
.sound.on i:after {
  animation-delay: 330ms;
}
.sound.on:before, .sound.on:after, .sound.on i:before, .sound.on i:after {
  animation: sound_wave .5s infinite ease;
}
.sound i:after {
  left: 18px;
}
.sound:after {
  left: 8px;
  animation-delay: 200ms;
}
.sound.on:after {
  animation-delay: 200ms;
}
@keyframes sound_wave {
  50% {
    height: 15px;
  }
}
@keyframes scroll {
  50% {
    transform: translateY(10px);
  }
}
@keyframes vd {
  50% {
    transform: scale(0.8);
  }
}
